@import "../../assets/styles/variables";

.order {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media (max-width: $mobile) {
    height: 100%;
    overflow: hidden;
  }

  &__header {
    width: 100%;
    max-width: 1376px;
    margin: 0 auto;
    padding: 32px 64px;

    @media (max-width: $desktop) {
      padding: 32px;
    }

    @media (max-width: $mobile) {
      padding: 16px;
    }
  }

  &__body {
    width: 100%;
    max-width: 1376px;
    margin: 0 auto;
    padding: 0 64px;
    display: flex;
    flex: 1;

    @media (max-width: $desktop) {
      padding: 0 32px;
    }

    @media (max-width: $tablet) {
      flex-wrap: wrap;
    }

    @media (max-width: $mobile) {
      padding: 0 16px 32px 16px;
      overflow: auto;
    }
  }

  &__content {
    flex: 1;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 32px;

    @media (max-width: $desktop) {
      flex: none;
      width: 65%;
    }

    @media (max-width: $tablet) {
      flex-wrap: wrap;
      width: 100%;
      flex: none;
      padding-right: 0;
      padding-bottom: 0;
    }
  }

  &__info {
    max-width: 320px;
    width: 100%;
    border-left: 1px solid $main-gray-light;
    padding: 32px 0 0 32px;

    @media (max-width: $desktop) {
      max-width: none;
      width: 35%;
    }

    @media (max-width: $tablet) {
      width: 100%;
      padding-left: 0;
      border-left: 0;
    }
  }
}

.form {
  &__group {
    display: flex;
    align-items: center;
    margin-top: 12px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__control[type="text"] {
    text-overflow: ellipsis;
    width: 100%;
    max-width: 224px;
    border: 0;
    border-bottom: 1px solid $main-gray;
    padding: 3px 8px;
    outline: none;
    display: block;
    font-size: 14px;
    line-height: 16px;
  }

  &__control[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__control[type="checkbox"] + &__label {
    position: relative;
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-right: 0;
    cursor: pointer;
    color: $main-gray;
  }

  &__control[type="checkbox"] + &__label:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $main-gray;
    margin-right: 8px;
  }

  &__control[type="checkbox"]:checked + &__label:before {
    border-color: $main-accent;
  }

  &__control[type="checkbox"]:checked + &__label:after {
    content: "";
    background-image: url(../../assets/images/checkbox.svg);
    position: absolute;
    width: 13px;
    height: 10px;
    left: 2px;
  }

  &__control[type="checkbox"]:checked + &__label {
    color: $main-black;
  }

  &__control[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__control[type="radio"] + &__label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-right: 0;
    cursor: pointer;
    color: $main-gray;
  }

  &__control[type="radio"]:checked + &__label {
    color: $main-black;
  }

  &__control[type="radio"] + &__label:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $main-gray;
    border-radius: 50%;
    margin-right: 8px;
  }

  &__control[type="radio"]:checked + &__label:before {
    border: 3px solid $main-accent;
  }

  &__label {
    color: $main-black;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    margin-right: 8px;
    text-align: right;

    &--order-location {
      min-width: 92px;
    }

    &--lease-date {
      min-width: 18px;
    }
  }

  &__group-wrap {
    position: relative;
    margin-top: 32px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__group-wrap-title {
    color: $main-black;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
  }

  &__row {
    display: flex;

    @media (max-width: $mobile) {
      display: block;
    }

    & .form__group {
      margin: 0 16px 0 0;

      @media (max-width: $mobile) {
        margin: 12px 0 0 0;

        &:first-child {
          margin: 0;
        }
      }
    }
  }
}
