@import "../../../assets/styles/variables";

.order-info {
  &__title {
    color: $main-black;
    font-size: 18px;
    font-weight: 500;
    text-align: right;

    @media (max-width: $tablet) {
      text-align: left;
    }
  }

  &__list {
    margin: 26px 0 0 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: 1px dotted $main-gray;
      bottom: 4px;
    }

    &-key {
      font-size: 14px;
      line-height: 16px;
      color: $main-black;
      font-weight: 300;
      white-space: nowrap;
      padding-right: 12px;
      background-color: #fff;
      z-index: 1;
    }

    &-value {
      text-align: right;
      display: inline-block;
      padding-left: 12px;
      max-width: 114px;
      font-size: 14px;
      line-height: 16px;
      color: $main-gray;
      font-weight: 300;
      background-color: #fff;
      z-index: 1;
    }
  }

  &__price {
    margin-top: 32px;

    &-key {
      font-size: 16px;
      line-height: 16px;
      color: $main-black;
      font-weight: 500;
    }

    &-value {
      font-size: 16px;
      line-height: 16px;
      color: $main-black;
      font-weight: 400;
    }
  }

  &__button {
    margin-top: 32px;
    width: 100%;
  }
}
