@import "../../assets/styles/variables";

.main {
  height: 100%;
  display: flex;
}

.main__body {
  flex: 1;
  padding-left: 64px;
  overflow: auto;

  @media (max-width: $tablet) {
    padding-left: 86px;
  }

  @media (max-width: $mobile) {
    padding-left: 0;
  }
}

.main__sidebar-backdrop--home {
  width: 50%;
  background: #111518;

  @media (max-width: $desktop) {
    width: 58%;
  }

  @media (max-width: $tablet) {
    width: 100%;
  }
}
