@import "../../assets/styles/variables";

.link {
  display: inline-block;
  color: $main-gray-light;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Roboto";
  font-weight: 400;
  outline: none;
}

.link svg {
  fill: $main-gray-light;
  transition: 0.2s;
}

.link--active,
.link:hover,
.link:focus {
  color: $main-accent;
}

.link--active svg,
.link:hover svg,
.link:focus svg {
  fill: $main-accent;
}
