@import "../../assets/styles/variables";

.link {
  display: inline-block;
  color: $main-gray-light;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Roboto";
  font-weight: 400;
  outline: none;

  & svg {
    fill: $main-gray-light;
    transition: 0.2s;
  }

  &--active,
  &:hover,
  &:focus {
    color: $main-accent;
  }

  &--active svg,
  &:hover svg,
  &:focus svg {
    fill: $main-accent;
  }

  &__inner {
    position: relative;
    z-index: 3;
    pointer-events: none;
  }

  &--button {
    position: relative;
    display: inline-block;
    padding: 14px 48px;
    border-radius: 8px;
    border: 0;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    background-image: linear-gradient(to right, hsl(148, 87, 41) 60%, hsl(158, 97, 32) 100%);
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    outline: none;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      background-image: linear-gradient(to right, hsl(148, 87, 31) 60%, hsl(158, 97, 22) 100%);
      transition: opacity 0.2s;
      z-index: 2;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      background-image: linear-gradient(to right, hsl(148, 87, 21) 60%, hsl(157, 95, 13) 100%);
      transition: opacity 0.2s;
      z-index: 2;
    }

    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }

    &:hover:before {
      opacity: 1;
    }

    &:focus:before {
      opacity: 1;
    }

    &:active:after {
      opacity: 1;
    }

    &-turquoise {
      background-image: linear-gradient(to right, hsl(216, 58, 18) 10%, hsl(169, 83, 26) 100%);

      &:before {
        background-image: linear-gradient(to right, hsl(216, 58, 14) 10%, hsl(169, 83, 22) 100%);
      }

      &:after {
        background-image: linear-gradient(to right, hsl(216, 58, 10) 10%, hsl(169, 83, 18) 100%);
      }
    }

    &-pink {
      background-image: linear-gradient(to right, hsl(32, 58, 18) 10%, hsl(335, 83, 26) 100%);

      &:before {
        background-image: linear-gradient(to right, hsl(32, 58, 14) 10%, hsl(335, 83, 22) 100%);
      }

      &:after {
        background-image: linear-gradient(to right, hsl(32, 58, 10) 10%, hsl(335, 83, 18) 100%);
      }
    }

    &-violet {
      background-image: linear-gradient(to right, hsl(263, 58, 18) 10%, hsl(295, 83, 26) 100%);

      &:before {
        background-image: linear-gradient(to right, hsl(263, 58, 14) 10%, hsl(295, 83, 22) 100%);
      }

      &:after {
        background-image: linear-gradient(to right, hsl(263, 58, 10) 10%, hsl(295, 83, 18) 100%);
      }
    }
  }

  &--mode-dark {
    color: $main-black;

    & svg {
      fill: $main-black;
    }
  }
}
