@import "../../assets/styles/variables";

.home {
  display: flex;
  min-height: 100%;
}

.home__hero {
  width: 50%;
}

.home__slider {
  width: 50%;
  background: rgb(99, 30, 30);
}

.hero {
  display: flex;
  flex-direction: column;

  &__header {
    padding: 30px 32px;
  }

  &__footer {
    margin-top: auto;
    padding: 30px 32px;
  }

  &__button {
    margin-top: 60px;
  }

  &__content {
    margin-top: 132px;
    padding: 0 32px;
  }

  &__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 70px;
    color: $main-black;
    margin: 0;
  }

  &__title-text {
    display: flex;
    line-height: 66px;
  }

  &__title-text:not(:first-child) {
    margin-top: 4px;
  }

  &__title-text--green {
    color: $main-accent;
  }

  &__subtitle {
    margin: 34px 0 0 0;
    font-family: "Roboto";
    color: $main-gray;
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
  }
}
